body {
            font-family: Arial, sans-serif;
            background-color: #111; 
            color: #fff;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh; */
        }
        table {
            width: 60%; 
            border-collapse: collapse;
            margin-bottom: 20px; 
        }
        th, td {
            padding: 8px; 
            border: 1px solid #555; 
            text-align: left;
        }
        th {
            background-color: #333; 
        }
        td {
            background-color: #222; 
        }
        a {
            color: #4A90E2;
            text-decoration: none; 
        }
        a:hover {
            text-decoration: underline;
        }
        img {
            width: 100px; 
            height: auto; 
            margin-bottom: 20px; 
        }
        .github-link {
            font-size: 32px; 
            color: #fff;
            margin-top: 10px; 
        }
        .github-link:hover {
            color: #4A90E2;
        }
        footer {
            margin-top: 100px;
            padding: 10px;
        }        